.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  height: var(--header-height);
  border-bottom: 1px solid gray;
}